<template>
  <div class="hello">

    <h1 :class="[nilai > 1 ? 'lulus' : 'tidakLulus']">Nilai : {{ nilai }}</h1>
      <h2 v-if="nilai > 1" style="color:blue">Bisaan euy sieta</h2>
      <h2 v-else style="color:red">Silahkan Coba SBMPTN 2019</h2>
      <div v-for="(soal, indexsoal) in questions">
        <h2>{{indexsoal+1}}) {{soal.deskripsi}} </h2>
        <div v-for="(pilihans, indexpiilhan) in soal.pilihan">
          <input type="radio" @click="checkAnswer(indexsoal, indexpiilhan)" :value="pilihans[0]" :name="indexsoal">
          <span v-text="pilihans[0]"></span>
        </div>
      </div>

      <h3>Jawaban Yang Benar : </h3>
      <ul>
        <li v-for="no_soal in jawabanBenar">No. {{ no_soal+1 }}</li>
      </ul>

  </div>

</template>

<script>


import SoalComponent from '@/components/soalcomponent'
export default {
    name:'Controlleroriginal',
    components:{
      SoalComponent
    },
    data() {
      return{
        nilai: 0,
        jawabanBenar : [],
        jawabanSalah : [],
        questions : [
          {
            deskripsi : "Siapa pelawak yang berambut pirang?",
            pilihan : [
              ["Sule", true],
              ["Azis Gegep"],
              ["Andre Taulany"],
              ["Nunung"]
            ]
          },
          {
            deskripsi : "Dimana stadion GBK terletak?",
            pilihan : [
              ["Solo"],
              ["Seoul"],
              ["Jakarta", true],
              ["Bandung"]
            ]
          },
          {
            deskripsi : "Siapa pesepak bola yang identik dengan nomor punggung 7?",
            pilihan : [
              ["C Ronaldo"],
              ["L Messi"],
              ["Diki Hidayat", true],
              ["Atep"]
            ]
          },
          {
            deskripsi : "Tanggal berapa Indonesia Merdeka?",
            pilihan : [
              ["1944"],
              ["2019 "],
              ["1945", true],
              ["1459"]
            ]
          }
        ]
      }
    },
    methods:{
      checkAnswer(indexsoal, indexpiilhan) {
          if(this.questions[indexsoal].pilihan[indexpiilhan][1]){
            if(this.jawabanBenar.indexOf(indexsoal)== -1){
              this.jawabanBenar.push(indexsoal);
            }
            if(this.jawabanSalah.indexOf(indexsoal)!= -1){
              this.jawabanSalah.splice(this.jawabanSalah.indexOf(indexsoal),1);
            }
          }else{
            if(this.jawabanBenar.indexOf(indexsoal)!= -1){
              this.jawabanBenar.splice(this.jawabanBenar.indexOf(indexsoal),1);
              this.jawabanSalah.push(indexsoal);
            }else if(this.jawabanSalah.indexOf(indexsoal)!= -1){

            }else{
              this.jawabanSalah.push(indexsoal);
            }
          }
          this.nilai = this.jawabanBenar.length;
        }
    }
}
</script>

<style scoped>
</style>
